
@media only screen and (max-width: 800px)  {
  .Projects {
    width: 100% !important;
  }

  
}

.ProjectsContainer {
  margin: 5rem 0;
}

.Projects {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(46rem,1fr));
  justify-items: center;
  align-items: center;
  width: 70%;
  margin: 3rem auto;
  row-gap: 4rem;
}

.title {
  margin: 5rem 0;
  font-family: var(--font-secondary);
  border-bottom: 1px solid var(--font-color-primary);
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  padding: 1rem;
}
