@media only screen and (max-width: 600px) {
  .header {
    height: 85vh !important;
  }

  .heroHeaderContainer {
    left: 0 !important;
  }

  .headerHero {
    font-size: 4rem !important;
  }
  .header h2 {
    font-size: 3rem !important;
  }
}
.header {
  /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
  background-image: url('../../assests/background-6-min.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  position: relative;
   background-attachment: fixed;
}

.heroHeaderContainer {
  position: absolute;
  left: 15%;

  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.headerHero {
  color: var(--font-color-primary);
  font-weight: bold;
  font-size: 6rem;
  display: block;
  letter-spacing: 3px;
  margin: 0rem 0;
}

.headerHero span {
  color: var(--color-primary);
  font-weight: bold;
}

.header h2 {
  color: var(--font-color-primary);
  display: block;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.headerIcons {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.headerIcons i {
  font-size: 4rem;
  margin-right: 1rem;
  margin-left: auto;
}

.headerIcons i:nth-child(2) {
  color: #e44d26;
}

.headerIcons i:nth-child(3) {
  color: #f0db4f;
}

.headerIcons i:nth-child(4) {
  color: #61dbfb;
}

