 /* Base Styling */
:root {
  --color-primary: #726eff;
  --color-primary-dark: #3700b3;
  /* --color-secondary: #03dac5; */
  --color-secondary: #5affe7;
  --color-secondary-dark: #08c6ab;
  --font-primary: 'Open Sans', sans-serif;
  --font-color-primary: #dfe4ea;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  /* 1rem = 10px, 10px/16px = 62.5% */

  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

body {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #212b38;
}
