/* Base Styling */
:root {
  --color-primary: #726eff;
  --color-primary-dark: #3700b3;
  /* --color-secondary: #03dac5; */
  --color-secondary: #5affe7;
  --color-secondary-dark: #08c6ab;
  /* --color-grey-primary: #282829; */
  --color-grey-primary: #37465b;
  --color-grey-primary-dark: #212b38;
  /* --color-grey-primary-dark: #222427; */
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-color-primary: #dfe4ea;

  /* Media Queries */

  --bp-largest: 75em; /* 1200px */
  --bp-large: 68.75em; /* 1100px */
  --bp-medium: 56.25em; /* 900px */
  --bp-small: 37.5em; /* 600px */
  --bp-smallest: 31.25em; /* 500px */
  --bp-smallest-5s: 21.25em;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50% !important;
  }
}
body {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-grey-primary-dark);
}

/* #222427 */

/* global Styling */

h3 {
  font-weight: normal;
  font-family: var(--font-secondary);
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--color-primary);
  display: inline;
  border-bottom: 1px solid var(--color-secondary);
  padding: 1rem;
}
