@media only screen and (max-width: 600px) {
  .NavItem {
    margin: 0 3rem !important;
  }
}

.Nav {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 6;

  transition: all 0.3s ease-in-out;
  padding: 3rem 0;
}
.Navsticky {
  padding: 1.5rem !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.NavItem {
  margin: 0 5rem;
  overflow: hidden;
}

.NavLink {
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 0.5rem;
  position: relative;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.NavLink:hover {
  color: var(--color-secondary);
}

.NavLink::before {
  transition: transform 0.3s ease-in-out 0.1s;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
}

.NavLink:hover::before {
  transform: translateX(0%);
}
